*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at 50% -20.71%, #fff2a681 0, #ffdc9056 12.5%, #fffd7694 25%, #ffc9545b 37.5%, #ffd208b4 50%, #fbb8009a 62.5%, #f8a100 75%, #f4f0009d 87.5%, #f1cd009f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.contenedor{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    color: #f8a100;
    background-color: black;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
}

form input{
    width: 600px;
    border: 2px solid black;
    padding: 6rem;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: black;
    width: 92%;
    outline: none;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #e4e4e4;
    
}

label{
    font-size: 20px;
    float: left;
}

.button{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    color: black;
    cursor: pointer;
}

.button:hover{
    background-color: #f8a100;
    color: #fff;
}

.Boton_Ingresar{
    color: aliceblue;
    font-size: 20px;
}

.error{
    background-color: rgb(248, 37, 37);
    border-radius: 5px;
    padding: 2px;
    color: #e4e4e4;
}

.success{
    background-color: green;
    border-radius: 5px;
    padding: 2px;
    color: #e4e4e4;
}